FISIO/__pycache__/lexer.cpython-313.pyc
*.pyc
FISIO/__pycache__/
FISIO/__pycache__/*.pyc
*.pyc
FISIO/__pycache__/lexer.cpython-313.pyc
FISIO/__pycache__/token_types.cpython-313.pyc
FISIO/FISIO/__pycache__/gui.cpython-314.pyc
FISIO/FISIO/__pycache__/lexer.cpython-314.pyc
FISIO/FISIO/__pycache__/salida.cpython-314.pyc
FISIO/FISIO/__pycache__/token_model.cpython-314.pyc
FISIO/FISIO/__pycache__/token_types.cpython-314.pyc
FISIO/FISIO/__pycache__/validador.cpython-314.pyc
